<!--<app-navbar></app-navbar>-->

<!--<app-card></app-card>-->

<!--<app-sidebar></app-sidebar>-->

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><i class="pi-box"></i><p style="color: white;"></p> </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
      <a href="#" class="list-group-item list-group-item-action bg-secondary"><i class="pi pi-check"></i></a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->


</div>
<!-- /#wrapper -->
